body{
    background-color: antiquewhite;
}

h1{
    background-color: aquamarine;
    border: 4px solid;
    text-align: center;
}

div{
    background-color: aqua;
    border: 4px solid;
    text-align: center;
    margin: 2% 15%;
}

#div-buttons{
    background-color: blueviolet;
    border: 4px solid;
    margin: 2%;
    position: fixed;
    float: right;
    top: 15%;
}

button{
    padding: 1rem;
}

.card-div{
    background-color: blueviolet;
    border: 3px solid;
    padding: 2rem;
}